html
{
    width: 100%;
    height: 100%;
}


body {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 60vw;
	font-family: georgia;
	padding: 0 5vmax 3vmax;
	overflow-x: hidden;
}

/* Generic body css */

p {
	line-height: 180%;
	margin: 15px 0;
	font-size: 18px;
}

a, a:visited {
	color: gray;
	font-size: 18px;
}

a:hover, a:active {
	color: rgb(100,0,12.5);
}

h2 {
	font-size: 22px;
	color: rgb(100,0,12.5);
}

li {
	line-height: 180%;
	margin: 15px 0;
	font-size: 18px;
}

/* All .menu css */

.menu {
	padding: 0 5%;
	width: 100%;
}

.menu h1{
	display: inline-block;
	width: 42%;
	color: rgb(100,0,12.5);
	margin-bottom: 2pt;
	font-size: 28px;
	text-align: left;
}

.menu ul {
	display: inline-block;
	list-style: none;
	width: 45%;
	margin-bottom: 2pt;
	text-align: right;
}

.menu li {
	display: inline-block;
	margin: 0 3%;
	width: auto;
}

.menu a {
	color: gray;
	text-decoration: none;
	font-size: 18px;
}

.menu a:visited{
	color: gray;
}

.menu a:hover, .menu a:active {
	color: rgb(100,0,12.5);
}


/* All .welcome css */

.welcome {
	text-align: left;
	padding: 0 5%;
}

.welcome img{
	display: block;
	margin: 20px auto;
}

/* All publication css */

.publications {
	text-align: left;
	padding: 0 5%;
}

.publications h3{
	margin: 2pt 0;
	font-size: 18px;
}

.publications h4{
	margin: 2pt 0;
	color: black;
	font-size: 14px;
	color: rgb(100,0,12.5);
}

.publications a, .publications a:visited {
	color: black;
	font-size: 16px;
}

.publications a:hover, a:active {
	color: rgb(100,0,12.5);
}

.publication_entry {
	display: inline-block;
	padding: 1vw 1vw;
	background-color: lightgray;
}

/* All internship css */

.internships {
	text-align: left;
	padding: 0 5%;
}

.internships li{
	margin: 5pt 0;
}

/* All footer css */

footer {
	text-align: left;
	padding: 0 5%;
}

/* All blog post css */
.blogpost{
	margin: 2vw 0vw;
}

.blogpost h2 {
	font-size: 16px;
	padding: 0;
	margin: 0;
}

.blogpost h3{
	font-size: 14px;
	padding: 0;
	margin: 5px 0 0 2px;
	color: black;
}

.blogpost p{
	line-height: 130%;
	font-size: 16px;
	padding: 5px 0;
	margin: 0;
	
}

.blogpostcontent {
	text-align: left;
	padding: 0 5%;
}

.blogpostcontent p {
	line-height: 180%;
	margin: 15px 0;
	font-size: 18px;
}

/* video frame css */

.videoframe {
	height: 35vmax;
	width: 100%;
}

/* gif frame css */
.gifframe {
	height: 35vmax;
	width: 100%;
	overflow: hidden;
	padding: 0.5vw 0.5vw;
	margin: 0 0;
}